<div>
    <div>
        <div class="main-content">
          {{#widget-header}}{{/widget-header}}
            <div class="page-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar-closed">
              {{#side-bar}}{{/side-bar}}
                <div class="body hide-content">
                    <div class="table-responsive">
                        <div class="layout-container full-width pad-s-lr">
                            {{#each model as |device|}}
                                <div class="layout-container full-width pad-m-lr manage-devices-background">
                                    {{#if device.isDeviceOn}}
                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Device</div>
                                        <div class="layout-col h-right bold">{{device.deviceName}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Device Port</div>
                                        <div class="layout-col h-right bold">{{device.devicePort}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Status</div>
                                        <div class="layout-col h-right">
                                            <span class="connected bold">{{device.deviceStatus}}</span>
                                        </div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Group</div>
                                        <div class="layout-col h-right bold">{{device.deviceGroup}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Unit Limit</div>
                                        <div class="layout-col h-right bold">{{device.unitLimit}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Used Units</div>
                                        <div class="layout-col h-right bold">{{formatDeviceUnits device.deviceUnits}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Automated Mode(Motion sensor)</div>
                                        <div class="layout-col h-right bold">{{device.motionSensor}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Automated Mode(Light sensor)</div>
                                        <div class="layout-col h-right bold">{{device.lightSensor}}</div>
                                    </div>

                                {{else}}
                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Device</div>
                                        <div class="layout-col h-right bold">{{device.deviceName}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Device Port</div>
                                        <div class="layout-col h-right bold">{{device.devicePort}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Status</div>
                                        <div class="layout-col h-right">
                                            <span class="not-connected bold">{{device.deviceStatus}}</span>
                                        </div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Group</div>
                                        <div class="layout-col h-right bold">{{device.deviceGroup}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Unit Limit</div>
                                        <div class="layout-col h-right bold">{{device.unitLimit}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Used Units</div>
                                        <div class="layout-col h-right bold">{{formatDeviceUnits device.deviceUnits}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Automated Mode(Motion sensor)</div>
                                        <div class="layout-col h-right bold">{{device.motionSensor}}</div>
                                    </div>

                                    <div class="layout-container full-width pad-s-tb">
                                        <div class="layout-col">Automated Mode(Light sensor)</div>
                                        <div class="layout-col h-right bold">{{device.lightSensor}}</div>
                                    </div>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>